body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    text-transform: capitalize;
}

.fist-part{
    width: 50%;
    padding: 2%;
    
}
.display-flexible{
    display: flex;
}
.color-orange{
    color: orangered;
}
h1{
    font-size: 60px;
}
.fist-part img{
    width: 98%;
}
.link-button{
    text-decoration: none;
    border: 2px solid hotpink;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 800;
    display: block;
    width: 20%;
    text-align: center;
    margin-top: 40px;
}