body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    text-transform: capitalize;
}

.fist-part{
    width: 50%;
    padding: 2%;
    
}
.display-flexible{
    display: flex;
}
.color-orange{
    color: orangered;
}
h1{
    font-size: 60px;
}
.fist-part img{
    width: 98%;
}
.link-button{
    text-decoration: none;
    border: 2px solid hotpink;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 800;
    display: block;
    width: 20%;
    text-align: center;
    margin-top: 40px;
}
.display-flexible{
    background-color: aquamarine;
}

.part h3{
    color: chocolate;
}
.part-one h3{
    color: chocolate;
}
.part{
    box-shadow: 10px 10px 40px gray;
    margin-top: 50px;
    padding: 20px;
    border-left: 7px solid goldenrod;  
    margin-right: 35px;
    width: 90%;
    margin-left: 35px;
    border-radius: 15px;
    margin-bottom: 50px;
}
.part-one{
    box-shadow: 10px 10px 40px gray;
    margin-top: 50px;
    padding: 20px;
    border-left: 10px solid blue;
    margin-left: 35px;
    width: 90%;
    margin-right: 35px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    
}
.part h2{
    font-size: 40px;
}
.part-one h2{
    font-size: 40px;
}
.sector{
    background-color: rgb(179, 245, 204);
}
footer p{
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    word-wrap: break-word;
}
.display{
    display: flex;
    margin-top: 100px;
    background-color: gold;
}
.second{
    padding: 30px;
    background-color: crimson;
    margin-left: 100px;
    text-align: justify;
   border: 1px dotted yellow;
   height: 400px;
}
.none{
    color: deeppink;
}